@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kia Signature Bold";
}

html, body {
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #dadada;
    position: relative;
}

#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: #b2222252;
    border-radius: 50%;
    z-index: 8;
    position: fixed;
    filter: blur(50px);
    transform: translate(-50%,-50%);
}

#cursor h5{
    font-size: 1.15vw;
    font-weight: 500;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    /*background-color: black;*/
    position: relative;
    z-index: 10;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
nav{
    display: flex;
    align-items: center;
    /*background-color: red;*/
    
}
nav img{
    width: 20%;
    height: 0%;

}


nav ul{
    list-style: none;
    float: right;
    margin: 0;
    display: flex;
}

nav ul li a{
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgba(0, 0, 0, 0);
    border-radius: 6px;
}


@keyframes scroll {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
@keyframes scroll1 {
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
}
#page2{
    height: 100vh;
    min-width: 100vw;
    background-color: #dadada;
    position: relative;
    background-position: 100%;
}
#page2 img{
    position: absolute;
}
#page2 h3{
    font-size: 8vw;
    color: #fff;
    align-items: center;
    font-family: "Rejouice Headline";
    animation-name: scroll1;
    animation-timing-function: ease-in;
    animation-direction: normal;
}

#h1line1{
    font-family: fantasy;
    font-size: 5vw;
    font-weight: 500;
    color: #fff;
}

#h1line2{
    font-family: fantasy;
    font-size: 4vw;
    font-weight: 300;
    color: #fff;
}
#h1line3 {
    column-count: 3;
    font-size: 2vw;
    column-gap: 15px;
    column-rule: 1px solid white ;
    padding-left: 10px;
    color: #fff;
    align-items: baseline;
}
@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

#page3{
    height: 100vh;
    min-width: 100vw;
    background-color: #dadada;
    position: relative;
    background-position: 100%;
}
#page3 img{
    position: absolute;
}
#page3 h3{
    font-size: 8vw;
    font-family: "Rejouice Headline";
    animation-name: scroll1;
    animation-timing-function: ease-in;
    animation-direction: normal;
    color: #ffff;
}

#h2line1{
    font-family: fantasy;
    font-size: 5vw;
    font-weight: 500;
    color: #ffff;
}

#h2line2{
    font-family: fantasy;
    font-size: 4vw;
    font-weight: 300;
    color: #ffff
    ;
}

#h2line3 {
    column-count: 3;
    font-size: 2vw;
    column-gap: 15px;
    column-rule: 1px solid white ;
    padding-left: 10px;
    color: #fff;
    align-items: baseline;
}

#main2 {
    width: 100%;
    overflow-x: hidden;
  }
  #home {
    /* margin-top: 100%; */
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
    canvas {
    max-width: 100vw;
    max-height: 100vh;
  } 
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
}  
#loader h3{
    font-size: 2vw;
}

footer{
    height: 500px;
    width: 100%;
    color: #ffff;
    position: relative;
}
footer img{
    position: absolute;
}

#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
  }
  #scroller::-webkit-scrollbar {
    display: none;
  }
  #scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  #scroller h4 {
    display: inline-block;
    font-size: 140px;
    font-weight: 1000;
    font-family: gilroy;
    margin-right: 20px;
    transition: all linear 0.3s;
    color: transparent;
    -webkit-text-stroke: 2px white;
  }
  #scroller h4:hover {
    color: white;
  }
  #image2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #flex{
    display: flex;
    gap: 1000px;
  }
